/* Container */
.mySwiper {
  width: 100%;
  max-width: 1200px;
  height: 300px;
  margin: 40px auto;
}

/* Slides */
.swiper-slide {
  background: #f2f2f2;
  color: #000;
  font-size: 24px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
}

/* Pagination bullets */
.swiper-pagination-bullet {
  background: #000;
}

.swiper-pagination-bullet-active {
  background: #007aff;
}
